.root {
  gap: var(--sizeSpaceLg);
  padding: 54px;
  color: var(--colorGray600);
}

.steps {
  gap: var(--sizeSpaceXs);
  padding-top: var(--sizeSpaceLg);
}

.root, .steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  > * {
    margin: 0;
    max-width: 480px;
  }
}
